<h2 class="text-center">Ajouter clients</h2>

<div class="form-group">
    <label for="nom">Nom</label>
    <input class="form-control" type="text" id="nom" placeholder="Nom">
    <label for="prenom">Prenom</label>
    <input class="form-control" type="text" id="prenom" placeholder="Prenom">
    <label for="email">e-mail</label>
    <input class="form-control" type="email" id="email" placeholder="name@gmail.com">
    <label for="adresse">Adresse</label>
    <input class="form-control" type="text" id="adresse" placeholder="Adresse">
    <label for="phone">Téléphone</label>
    <input class="form-control" type="text" id="phone" placeholder="Téléphone">

    <div class="buttonEnd d-flex justify-content-end">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>

</div>

<a routerLink="/" class="btn btn-primary" role="button">Go back Home</a>