
<div class="main-container">
  <div class="navbar">
      <ul class="nav">
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="clients">Clients</a> 
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="films">Films</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="addFilms">Ajouter Films</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="addClients">Ajouter Clients</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="reservations">Réservations</a>
          </li>
      </ul>
    </div>
    
    <h2 class="text-center">Bienvenue à PoCoHa Videos</h2>

    <div class="text-center">
      <img class="img" src="assets/Images/equipeBis.PNG" alt="L'équipe">
    </div>

</div>
        


