<h2 class="text-center">Ajouter un film</h2>

<div class="form-group">
    <label for="titre">Titre</label>
    <input class="form-control" type="text" id="titre" placeholder="Titre">
    <label for="genre">Genre</label>
    <input class="form-control" type="text" id="genre" placeholder="Genre">
    <label for="duree">Durée</label>
    <input class="form-control" type="text" id="duree" placeholder="Durée">
    <label for="realisateur">Réalisateur</label>
    <input class="form-control" type="text" id="realisateur" placeholder="Réalisateur">
    <label for="annee">Année</label>
    <input class="form-control" type="text" id="annee" placeholder="Année">

    <div class="buttonEnd d-flex justify-content-end">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>

</div>

<a routerLink="/" class="btn btn-primary" role="button">Go back Home</a>
